


<div class="mobile bottom-menu">
    <a  routerLink="home" routerLinkActive="active">
        <i class="fa-solid fa-house"></i>
      Home
    </a>
    <a href="#">
      <i class="fa-solid fa-magnifying-glass"></i>
      Search
    </a>
    <a  routerLink="bookmark" routerLinkActive="active" >
         <i class="fa-solid fa-book-bookmark"></i>
        Bookmark
    </a>
     <a  routerLink="notification" routerLinkActive="active" >
        <i class="fa-solid fa-bell"></i>
        Notification
    </a>
    
    <a routerLink="write" routerLinkActive="active" >
         <i class="fa-solid fa-pen-to-square"></i>
        Write
    </a>
    <a routerLink="login" routerLinkActive="active" *ngIf="this.token==null || this.token==''">
      <i class="fa-solid fa-user"></i>
      Login
    </a>
   
    <a routerLink="profile/{{this.token}}" routerLinkActive="active" *ngIf="token!==null">
      <i class="fa-solid fa-user"></i>
      Profile
    </a>
    <a href="profile/{{this.token}}"  *ngIf="token!==null && this.profileactivex=='profile'">
      <i class="fa-solid fa-user"></i>
      Profile
    </a>
  </div>