<div class="mobile bottom-menu">
    <a href="#" class="active">
        <i class="fa-solid fa-house"></i>
      Home
    </a>
    <a href="#">
      <i class="fa-solid fa-magnifying-glass"></i>
      Search
    </a>
    <a href="#" >
         <i class="fa-solid fa-book-bookmark"></i>
        Bookmark
    </a>
     <a href="#" >
        <i class="fa-solid fa-bell"></i>
        Notification
    </a>
    
    <a href="#" >
         <i class="fa-solid fa-pen-to-square"></i>
        Write
    </a>
    <a href="/login" *ngIf="token===null">
      <i class="fa-solid fa-user"></i>
     Login
    </a>
    <a href="/profile" *ngIf="token!==null">
      <i class="fa-solid fa-user"></i>
     Profile
    </a>
  </div>