                                     
    <div class="newpost" *ngFor="let lis of story">
    <header>
                                                  <!-- start: .post-format-image -->
                                                  <div class="post-format-image post-style-small-image">
                                                      <!-- start: .featured-image -->
                                                      <div class="featured-image epcl-flex">
                                                          <!-- Loop: Small Image Style -->
                                                          <div class="info">
                                                             
                                                            <div class="hide-on-mobile">
                                                                <!-- start: .meta -->
                                                                <div class="meta"> 
                                                                
                                                                 <span class="views-counter meta-info icon comments" title="{{lis.first_name}} {{lis.last_name}}">
                              <svg><use xlink:href="#views-outline-icon"></use></svg> <b>{{lis.first_name}} {{lis.last_name}}</b> - {{lis.created_at | date: 'MMMM dd, yyyy'}}</span>   
                              
                              
                                                                    <div class="clear"></div>
                                                            </div>
                                                            <!-- end: .meta -->
                                                        </div>
                        </div>
  
                                                          <!-- Loop: Standard Image Style -->
                                                          <!-- Loop: Text only style -->
                                                          
                                                  </div>
                                                  <!-- end: .featured-image -->
                                                 
                                  </div>
                                  <!-- end: .post-format-image -->
                                  <div class="clear"></div>
                                  </header>
                                  <!-- start: .bottom -->
                                  <div class="bottom">
                                      <div class="post-excerpt">
                                        
                

                          <h1 class="main-title title underline-effect large">
                           
                            <a class="titlestyle" href="story/{{lis.slug}}">
                           {{lis.title}}</a>
                                                                                          
                            </h1>
                           
                                          <p [innerHTML]="(lis.description.length>6)? (lis.description | slice:0:150)+'..':(lis.description)"></p>
                                        
                                          <div class="clear"></div>
                                      </div>
                                      <div class="tags">
                                        
                                          
                                      </div>
                                      <div class="meta bottom hide-on-mobile"> <a href="#" title="Report" class="author meta-info">  <i class="fa-solid fa-flag"></i></a></div>
                                      <div class="meta bottom hide-on-mobile"> <a href="#" title="Save" class="author meta-info"> <i class="fa-solid fa-bookmark"></i></a></div>
                                                
                           <div class="meta bottom hide-on-mobile"> <a href="#" title="Comments" class="author meta-info"><i class="fa-solid fa-comment"></i> 1</a></div>
                           <div class="meta bottom hide-on-mobile"> <a href="#" title="Views" class="author meta-info">  <i class="fa-solid fa-heart"></i> {{lis.views}}</a></div>           
                           
               
                  
                                    
                
                
                                     
                </div>
                              <!-- end: .right -->
                              <div class="clear"></div>
                              <hr class="lc" aria-hidden="true">

                            </div>
                        