
<div class="containerx {{myclass}}" id="container">
  <div class="form-container sign-up-container {{mobile}}">
    <form [formGroup]="registerForm">
          <h1>Create Account</h1>
          <div class="social-container">
              <a class="social"><i class="fab fa-facebook-f"></i></a>
              <a class="social"><i class="fab fa-google-plus-g"></i></a>
              <a class="social"><i class="fab fa-linkedin-in"></i></a>
          </div>
          <span>or use your email for registration</span>
          <input matInput placeholder="Enter Your First Name" id="firstname" formControlName="firstname" />
          <div *ngIf="f['firstname'].touched && f['firstname'].invalid" class="alert alert-danger">
            <div *ngIf="f['firstname'].errors && f['firstname'].errors['required']">FirstName is required.</div>
            <div *ngIf="f['firstname'].errors && f['firstname'].errors['minlength']">FirstName should be 3 character.</div>
        </div>
          <input matInput placeholder="Enter Your Last Name" formControlName="lastname" />
          <div *ngIf="f['lastname'].touched && f['lastname'].invalid" class="alert alert-danger">
            <div *ngIf="f['lastname'].errors && f['lastname'].errors['required']">LastName is required.</div>
            <div *ngIf="f['lastname'].errors && f['lastname'].errors['minlength']">LastName should be 3 character.</div>
        </div>
          <input matInput placeholder="Enter Your Email Address" type="email" formControlName="email" />
          <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
            Invalid Email Format
            <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required.</div>
        </div>
            <mat-radio-group formControlName="gender" aria-label="Select Your Gender">
            <mat-radio-button value="Male">Male</mat-radio-button>
            <mat-radio-button value="Female">Female</mat-radio-button>
            <mat-radio-button value="Other">Other</mat-radio-button>
          </mat-radio-group>
        <div *ngIf="f['gender'].touched && f['gender'].invalid" class="alert alert-danger">
          <div *ngIf="f['gender'].errors && f['gender'].errors['required']">Gender is required.</div>
      </div>
          <input matInput placeholder="Enter Your Password" type="password" formControlName="password" />
          <div *ngIf="f['password'].touched && f['password'].invalid" class="alert alert-danger">
            <div *ngIf="f['password'].errors && f['password'].errors['required']">Password is required.</div>
        </div>
          <button  [disabled]="registerForm.invalid" (click)="onRegSubmit()">Sign Up</button>
          <button class="mobile" (click)="viewmobsignin()">Already Have an Account</button>
      </form>
  </div>
  <div class="form-container sign-in-container {{mobilex}}">

      <form [formGroup]="loginForm">
          <h1>Sign in</h1>
          <div class="social-container">
              <a class="social"><i class="fab fa-facebook-f"></i></a>
              <a class="social"><i class="fab fa-google-plus-g"></i></a>
              <a class="social"><i class="fab fa-linkedin-in"></i></a>
          </div>
          <span>or use your account</span>
          <input required matInput placeholder="Enter Your Email Address" type="email" formControlName="email" />
          <div *ngIf="l['email'].touched && l['email'].invalid" class="alert alert-danger">
            Invalid Email Format
            <div *ngIf="l['email'].errors && l['email'].errors['required']">Email is required.</div>
        </div>
          <input required matInput placeholder="Enter Your Password" type="password" formControlName="password" />
          <div *ngIf="l['password'].touched && l['password'].invalid" class="alert alert-danger">
          <div *ngIf="l['password'].errors && l['password'].errors['required']">Password is required.</div>
        </div>
          <a>Forgots your password?</a>
          <button  [disabled]="loginForm.invalid" (click)="onLoginSubmit()">Sign In</button>
          <button class="mobile" (click)="viewmobsignup()">Don't Have an Account</button>
      </form>
  </div>
  <div class="overlay-container">
      <div class="overlayx">
          <div class="overlay-panel overlay-left">
              <h1>Welcome Back!</h1>
              <p>To keep connected with us please login with your personal info</p>
              <button class="ghost" (click)="viewsignin()" id="signIn">Sign In</button>
          </div>
        
          <div class="overlay-panel overlay-right">
              <h1>Hello, Friend!</h1>
              <p>Enter your personal details and start journey with us</p>
              <button class="ghost"  (click)="viewsignup()" id="signUp">Sign Up</button>
          </div>
      </div>
  </div>
</div>





