<article *ngIf="story" class="default classic-large index-0 odd primary-cat-4 grid-100 tablet-grid-100 post-76 post type-post status-publish format-standard has-post-thumbnail hentry category-music category-technology category-travel tag-country tag-image">
   <div class="newpost" *ngFor="let lis of story">
      <header>
         <!-- start: .post-format-image -->
         <div class="post-format-image post-style-small-image">
            <!-- start: .featured-image -->
            <div class="featured-image epcl-flex">
               <!-- Loop: Small Image Style -->
               <div class="info">
                  <div class="hide-on-mobile">
                     <!-- start: .meta -->
                     <div class="meta">
                        <span class="views-counter meta-info icon comments" title="{{lis.first_name}} {{lis.last_name}}">
                           <svg>
                              <use xlink:href="#views-outline-icon"></use>
                           </svg>
                           <b> {{lis.first_name}} {{lis.last_name}} </b> - {{lis.created_at}} 
                        </span>
                        <div class="clear"></div>
                     </div>
                     <!-- end: .meta -->
                  </div>
               </div>
               <!-- Loop: Standard Image Style -->
               <!-- Loop: Text only style -->
            </div>
            <!-- end: .featured-image -->
         </div>
         <!-- end: .post-format-image -->
         <div class="clear"></div>
      </header>
      <!-- start: .bottom -->
      <div class="bottom">
         <div class="post-excerpt">
            <a href="story/{{lis.slug}}" class="thumb epcl-dropcap main-effect loaded"> 
            <span class="fullimage cover" role="img" style="background-image: url({{lis.image}});"></span> 
            <span class="fullimage fake-layout cover" style="background-image: url({{lis.image}});"></span>
            </a>
            <h1 class="main-title title underline-effect large">
               <a class="titlestyle" href="story/{{lis.slug}}">
               {{lis.title}}</a>
            </h1>
            <p [innerHTML]="(lis.description.length>6)? (lis.description | slice:0:150)+'..':(lis.description)"></p>
            <div class="clear"></div>
         </div>
         <div class="tags">
            <div class="tags" *ngFor="let tag of lis.tags?.split(',') ; let i = index">
               <a href="#" class="tag-link-{{i}}">{{tag}}</a>                
            </div>
         </div>
         <div class="meta bottom hide-on-mobile"> <a href="#" title="Report" class="author meta-info">  <i class="fa-solid fa-flag"></i></a></div>
         <div class="meta bottom hide-on-mobile"> <a href="#" title="Save" class="author meta-info"> <i class="fa-solid fa-bookmark"></i></a></div>
         <div class="meta bottom hide-on-mobile"> <a href="#" title="Comments" class="author meta-info"><i class="fa-solid fa-comment"></i> 1</a></div>
         <div class="meta bottom hide-on-mobile"> <a href="#" title="Views" class="author meta-info">  <i class="fa-solid fa-heart"></i> {{lis.views}}</a></div>
      </div>
      <!-- end: .right -->
      <div class="clear"></div>
      <hr class="lc" aria-hidden="true">
   </div>
</article>