.logoc{
    display: none;
    }
    .displaymobile{
        display:none !important;
    }
@media only screen and (max-width: 916px) {
    .mobileview{
        display: none;
    }
    
    .left-side-navbar {
        width: 10%;
    }
    .left-side-navbar .logo {
        width: 65px;
        height: 65px;
        font-size: 45px;
    }
    .navicon .fa-solid {
        font-size: 30px;
    }
    .wrapper > a:nth-child(1) {
        margin-top: 60vh !important;
       }
       .navicon {
        margin-bottom: 50px;
        padding-bottom: 15px;
    }
    .container .center {
        width: 70%;
    }
    .no-sidebar {
        
        width: 35%;
    }
    .tabs {
        padding: 20px 0px 80px 0px;
        margin: 30px 0px 0px 0px;
    }
    article.default.classic-large.index-0.odd.primary-cat-4.grid-100.tablet-grid-100.post-76.post.type-post.status-publish.format-standard.has-post-thumbnail.hentry.category-music.category-technology.category-travel.tag-country.tag-image {
        padding: 5px 0px 0px 0px;
    }
    .no-sidebar:not(#single) {
        display: block !important;
    }
    #profile-banner-image {
        height: 250px !important;
    
    }
    main {
        max-width: 70% !important;
    }
    #l-col {
        display: block !important;
    }
    .tb {
        display: block !important;
    }
    #l-col {
        width: 100% !important;
        padding: 10px !important;
    }
    #main-content {
        padding: 55px 0px 0px 10px !important;
    }
    #m-col {
        padding: 0px 10px !important;
    }
}
@media only screen and (max-width: 750px) {
    .displaymobile{
        display:block !important;
    }
    .displaylaptop{
        display:none !important;
    }
    .mobileview{
        display: block !important;
    }
    .contact-wrap{
        padding: 10px !important;
        margin: 10px !important;
        width: 90% !important;
      }
    .desktopview{
        display:none;
    }
    .containerx button.mobile{
        display: block !important; 
    }
    .overlay-container{
        display: none;
    }
    .containerx .sign-up-container {
        width: 100% !important;
    }
    .containerx .sign-in-container {
        width: 100% !important;
    }
    .hide-on-mobile .dropdownx {
            top: 0px !important;     
    }
    
    .container{
        max-width: 100% !important;
        width: 100% !important;
        margin:10px auto !important;
      }
    main {
        max-width: 100% !important;
    }
    .no-sidebar:not(#single) {
        display: none !important;
    }
    .bottom-menu {
        box-shadow: #cecece 0 1px inset;
        z-index: 999;
    }
    .mobile{
        display: inline-flex;
    }
    .container .center {
        width: 100%;
        left: 0;
        top: 0;
    }
    .tabs .content {
        margin-top: 0px;
    }
    .center h1 {
     
        margin-top: 0vh;
    }
    div.articles.classic article div.tags {
        float: left;
    }
    .meta.bottom.hide-on-mobile {
        margin-top: 0px;
        display: block !important;
    }
    .container {
        width: 100%;
        margin-right: 10PX;
        height: 100vh;
        FLOAT: LEFT;
        MARGIN-LEFT: 10VH;
        PADDING-RIGHT: 0PX;
        display: flex;
    }
    .center > div {
        width: 120%;
        mAX-WIDTH: 120%;
    }
    div.articles.classic article .epcl-dropcap {
        width: 150PX;
        height: 150PX;
    }
   
    div.meta.bottom .author {
        float: right;
        margin: 0px auto;
        padding: 0px 15px 0px 15px;
        font-size: 16px;
        display: inline-block;
    }
    div.articles.classic .meta {
      
        text-align: center;
        font-size: 18px;
    }
    .navicon .fa-solid {
        font-size: 20px;
    }
    .container {
        margin-right: 0PX;
        MaRGIN-LEFT: 0px;
    }
    
    div.articles.classic article .epcl-dropcap {
        width: 120PX;
        height: 120PX;
    }
    h1.main-title.title.underline-effect.large {
        font-size: 18px;
    }
    .tabs {
        padding: 20px 0px 80px 0px;
        margin: 0px 0px 0px 0px;
    }
   
    .center > div {
        width: 140%;
        mAX-WIDTH: 140%;
    }
    
    p {
        font-size: 14px !important;
    }
    div.articles.classic article {
       
        margin-bottom: 0px;
    }
    .left-side-navbar {
        display: none;
    }
    div#m-col {
        padding-bottom: 10vh !important;
    }
    .container .center {
        margin-top: 12% !important;
    }
    .logoc{
        display: flex;
        box-shadow: rgb(230 230 230) 0px -1px 0px inset;
        position: fixed;
        width: 100%;
        height: 8%;
        z-index: 9999;
        background-color: #fff;
      }
}
@media only screen and (max-width: 502px) {
    .logoc{
        height: 7%;
      }

	div.articles.classic article .epcl-dropcap {
        width: 60PX;
        height: 60px;
    }
    div.meta.bottom .author {
        font-size: 12px;
    }
    h1.main-title.title.underline-effect.large {
        font-size: 18px;
    }

    div.meta.bottom .author {
        float: left;
        margin: 0px auto;
        padding: 0px 5px 10px 5px;
        font-size: 12px;
        display: inline-block;
    }
    div.articles.classic .meta {
        margin-top: 0px;
        float: right;
    }
}

@media only screen and (max-width: 412px) {
    .logoc{
        height: 8%;
      }

}
@media only screen and (width: 412px) {
    .logoc{
        height: 6%;
      }

}
@media only screen and (max-width: 400px) {
    .logoc{
        height: 6%;
      }

}

@media only screen and (max-width: 380px) {
    .logoc{
        height: 8%;
      }
}
@media only screen and (max-width: 370px) {
    .logoc{
        height: 7%;
      }
}
@media only screen and (max-width: 321px) {
	
}