<div class="logoc">
  <div class='mobilelogo'><img src="https://beta.autoreport.space/storyapi/public/uploads/mobilelogo.png"/></div>
  <!--
  <a  routerLink="notification" class="btnx" routerLinkActive="active" >
    <i class="fa-solid fa-bell"></i>
    <span class="notification-label notification-label-blue">3</span>
</a>-->

</div>

<div class="container"> 
  <ng-http-loader [filteredUrlPatterns]="['getnotification','updatenotification']"></ng-http-loader>
  <!-- Left Sidebar -->
  <app-mobilemenu></app-mobilemenu>
  <app-leftsidebar></app-leftsidebar>
    <!-- Content-->
  
    <router-outlet></router-outlet>

  <!-- Right Sidebar -->
  <app-rightsidebar></app-rightsidebar>

</div>

<div class="{{this.authen.classx}}" [innerHTML]="this.authen.tokenx"></div>

  <footer>
   <p class="left">Copyright : 2022 | All Rights Reserved </p>
   <p class="right">
    <a href="#" target="_blank">Privacy Policy</a> |
    
   <a href="#" target="_blank">Terms & Conditions</a>
    </p>
  </footer>


  <!-- Mobile Menu-->
 
 