<div class="container"> 
  <div class="toast {{this.authen.classx}}" [innerHTML]="this.authen.tokenx"></div>
  <ng-http-loader></ng-http-loader>
  <!-- Left Sidebar -->
  <app-mobilemenu></app-mobilemenu>
  <app-leftsidebar></app-leftsidebar>
    <!-- Content-->
  
    <router-outlet></router-outlet>

  <!-- Right Sidebar -->
  <app-rightsidebar></app-rightsidebar>

</div>

 

  <footer>
   <p class="left">Copyright : 2022 | All Rights Reserved </p>
   <p class="right">
    <a href="https://www.twitter.com/Shaz3e" target="_blank">Privacy Policy</a> |
    
   <a href="http://choosealicense.com/licenses/gpl-v3/" target="_blank">Terms & Conditions</a>
    </p>
  </footer>


  <!-- Mobile Menu-->
 
 