
<div class='left-side-navbar'>
    <div class='logo'>V.</div>
    <div class='wrapper'>
      <a routerLink="home" routerLinkActive="active" class="navicon" title="Home">
        <i class="fa-solid fa-house"></i>
      </a>
    <a routerLink="bookmark" routerLinkActive="active" class="navicon" title="Bookmark">
    <i class="fa-solid fa-book-bookmark"></i>
    </a>
     
      <a routerLink="notification" routerLinkActive="active" class="navicon" title="Notification">
        <i class="fa-solid fa-bell"></i>
      </a>
      <a routerLink=" Search"  routerLinkActive="active" class="navicon" title="Search">
        <i class="fa-solid fa-magnifying-glass"></i>
      </a>
    
   <a routerLink="write" routerLinkActive="active" class="navicon" title="Write">
        <i class="fa-solid fa-pen-to-square"></i>
   </a>
    
       <hr>
     
    <a routerLink="login" routerLinkActive="active" *ngIf="token===null" class="navicon" title="Login">
        <i class="fa-solid fa-user"></i>
    </a>
    <a routerLink="profile/{{this.token}}" routerLinkActive="active" *ngIf="token!==null" class="navicon" title="Your Profile">
      <i class="fa-solid fa-user"></i>
  </a>
    </div>
  </div>

