


<div class='left-side-navbar'>
    <div class='logo'><img title="Read and Write" src="https://checklistforme.online/storyapi/public/uploads/readandwrite.png"/></div>
    <div class='wrapper'>
      <a routerLink="home" routerLinkActive="active" class="navicon" title="Home">
        <i class="fa-solid fa-house"></i>
      </a>
  <!----  <a routerLink="bookmark" routerLinkActive="active" class="navicon" title="Bookmark">
    <i class="fa-solid fa-book-bookmark"></i>
    </a> -->
     
      <a routerLink="notification" routerLinkActive="active" class="navicon btnx" title="Notification">
        <i class="fa-solid fa-bell"></i>
        <span class="notification-label notification-label-blue">3</span>
      </a>
      <a routerLink="search"  routerLinkActive="active" class="navicon" title="Search">
        <i class="fa-solid fa-magnifying-glass"></i>
      </a>
    
   <a routerLink="write" routerLinkActive="active" class="navicon" title="Write">
        <i class="fa-solid fa-pen-to-square"></i>
   </a>
    
       <hr>
    
    <a *ngIf="this.account.isLoggedIn()" routerLink="/profile/{{this.account.getToken()}}" routerLinkActive="active" class="navicon" title="Your Profile">
      <i class="fa-solid fa-user"></i>
    </a>
    <a *ngIf="!this.account.isLoggedIn()" routerLink="login" routerLinkActive="active" class="navicon" title="Login">
      <i class="fa-solid fa-user"></i>
    </a>
    </div>
  </div>

