
<div class='left-side-navbar'>
    <div class='logo'>V.</div>
    <div class='wrapper'>
      <a routerLink="" routerLinkActive="active" class="navicon" title="Home">
        <i class="fa-solid fa-house"></i>
      </a>
    <a routerLink="story" class="navicon" title="Bookmark">
    <i class="fa-solid fa-book-bookmark"></i>
    </a>
     
      <a href="/notification" class="navicon" title="Notification">
        <i class="fa-solid fa-bell"></i>
      </a>
      <a a href="/yourstories" class="navicon" title="Your Stories">
        <i class="fa-solid fa-book"></i>
      </a>
    
   <a href="/write" class="navicon" title="Write">
        <i class="fa-solid fa-pen-to-square"></i>
   </a>
    
       <hr>
     
    <a href="/login" *ngIf="token===null" class="navicon" title="Login">
        <i class="fa-solid fa-user"></i>
    </a>
    <a href="/profile" *ngIf="token!==null" class="navicon" title="Your Profile">
      <i class="fa-solid fa-user"></i>
  </a>
    </div>
  </div>

