<div class='right-side grid-30 no-sidebar sticky-enabled'>
  
    <div class="sidebar-wrapper default-sidebar">





        <section id="epcl_posts_thumbs-8" class="widget widget_epcl_posts_thumbs">
            <h4 class="widget-title title medium bordered"><span class="bg">Popular Authors</span><span class="border"></span></h4>
           
            <article *ngFor="let lis of authors" class="item primary-cat-4 post-76 post type-post status-publish format-standard has-post-thumbnail hentry category-music category-technology category-travel tag-country tag-image">
           
            <a *ngIf="lis.first_name!=='Anonymous' && lis.token==this.authorx.getToken()" href="profile/{{lis.token}}" class="thumb epcl-dropcap  main-effect effect-small epcl-loader"> 
                <span class="fullimage cover" role="img" style="background-image: url({{lis.image}});"></span>
                <span class="fullimage cover" role="img" style="background-image: url({{lis.image}});"></span> 
            </a>
            <a *ngIf="lis.first_name!=='Anonymous' && lis.token!==this.authorx.getToken()" href="viewprofile/{{lis.token}}" class="thumb epcl-dropcap  main-effect effect-small epcl-loader"> 
                <span class="fullimage cover" role="img" style="background-image: url({{lis.image}});"></span>
                <span class="fullimage cover" role="img" style="background-image: url({{lis.image}});"></span> 
            </a>
            <div *ngIf="lis.first_name=='Anonymous'" class="thumb epcl-dropcap  main-effect effect-small epcl-loader">
                <img src="https://beta.autoreport.space/storyapi/public/uploads/634742.png">
            </div>
                <div class="info">
                    <div class="right">
                        <h4 class="title usmall underline-effect">
                            
                            <a *ngIf="lis.first_name!=='Anonymous' && lis.token==this.authorx.getToken()" href="profile/{{lis.token}}"> 
                                {{lis.first_name}} {{lis.last_name}}
                            </a>
                            <a *ngIf="lis.first_name!=='Anonymous' && lis.token!==this.authorx.getToken()" href="viewprofile/{{lis.token}}"> 
                                {{lis.first_name}} {{lis.last_name}} 
                            </a>

                            <span *ngIf="lis.first_name=='Anonymous'">{{lis.first_name}}</span>
                        </h4> 
                        <time  class="icon">   <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                            {{lis.postcount}}</time><br>
                        <time  class="icon">   <i class="fa fa-heart"></i>   {{lis.sumlikes}}</time>
                    </div>
                    <div class="clear"></div>
    </div>
    <div class="clear"></div>
    </article>
    
    
   
    <div class="clear"></div>
    </section>
    <section id="epcl_tag_cloud-9" class="widget widget_epcl_tag_cloud">
        <h4 class="widget-title title medium bordered"><span class="bg">Tag Cloud</span><span class="border"></span></h4>
        <div class="tagcloud">
            <a href="tags/{{list}}" *ngFor="let list of tags ; let i = index" class="tag-link-{{i}} tag-cloud-link">{{list}}</a>
           
        </div>
        <div class="clear"></div>
    </section>
    
   
    
    </div>


</div>
