body{
  overflow: hidden; /* Hide scrollbars */
}
row{
  overflow: hidden !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
p {
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 16px;
  line-height: 24px;
}
@media only screen and (max-width: 750px) {
.center > div {
  width: 130%;
  mAX-WIDTH: 140%;
}
}